{# templates/homepage.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}


	<h3>Menu administradores</h3>
	<p>En este menu será visible</p>

	<ul>
		<li>Opciones del perfil (editar datos personales)</li>
		<ol>
			<li>Admin name</li>
            <li>Email</li>
            <li>Password</li>
		</ol>
		<li>Tabla con lista de actividades (se podran filtrar)</li>
		<li>Crear actividad nueva (Crear un boton aqui, que redireccione a un formulario)</li>
	</ul>


{% endblock %}
