{% extends 'base.html.twig' %}


{% block body %}

	<form  class="c-form col-lg-9 mr-auto ml-auto" action="{{ path('add_activity_review', { 'id': activity.idActivity, 'scores': activity.scores, 'average_score': activity.averageScore }) }}" method="post"> 
		<div class="form-group">
			<label tabindex="0" id="c-titulo" for="exampleFormControlTextarea1">ESCRIBE TU COMENTARIO AQUÍ</label>
			<textarea tabindex="0" class="form-control" id="exampleFormControlTextarea1" rows="3" name="review"></textarea>
		</div>

		<div class=" c-select form-group2">
			<label tabindex="0" for="exampleFormControlSelect1">Puntuación</label>
			<select class="form-control" tabindex="0" id="score" name="score">
				<option tabindex="0">1</option>
				<option tabindex="0">2</option>
				<option tabindex="0">3</option>
				<option tabindex="0">4</option>
				<option tabindex="0">5</option>
			</select>
		</div>


		<button tabindex="0"  class="btn-primary col-lg-4 mr-auto ml-auto"type="submit ">Enviar</button>
		<div class="espacio"></div>
	</form>
{% endblock %}
