{% extends 'base.html.twig' %}

{% block body %}
	<table>
		<thead>
			<tr>
				<th>User</th>
				<th>Score</th>
				<th>Review</th>

			</tr>
		</thead>
		<tbody>
			{% if scores is empty %}
				<p>No existen comentarios o puntuación para esta actividad porque nadie participó en ella</p>
			{% else %}
				{% for i in 0..(scores|length - 1) %}
					{% if scores[i] == true or reviews[i] == true %}
						<tr>
							<td>{{ username[i] }}
								{{ userlastname[i] }}</td>
							<td>{{ scores[i] }}</td>
							<td>{{ reviews[i] }}</td>
						</tr>
					{% endif %}
				{% endfor %}
			{% endif %}

		</tbody>
	</table>
{% endblock %}
